
<h3>You've sent <%= @ses.quota.sent_last_24_hours %> of your <%= @ses.quota.max_24_hour_send %> in the last 24 hours.</h3>
<h3>Send Rate: <%= @ses.quota.max_send_rate %> per second</h3>

<!-- Authorized Sender -->
<% verified_senders = @ses.addresses.list.result %>
<% if verified_senders.length > 0 %>
  <h3>Verified Senders (<%= verified_senders.length %>)</h3>
  <ul>
    <% verified_senders.sort.each do |authorized_sender| %>
     <li><%= authorized_sender %></li>
    <% end %>
  </ul>
<% else %>
  <h3>You have no authorized senders</h3>
<% end %>
<!-- TODO: give users ability to add new authorized senders -->

<h3>2 Week Overview</h3>
<% data_points = @ses.statistics.result %>

Delivery Attempts:
  <a href="/delivery_attempts">
    <%= data_points.map{|x|x["DeliveryAttempts"]}.map(&:to_i).inject{|sum, x| sum+x} %>
  </a>
  <br/>

Bounces:
  <a href="/bounces">
    <%= data_points.map{|x|x["Bounces"]}.map(&:to_i).inject{|sum, x| sum+x} %>
  </a>
  <br/>

Rejects:
  <a href="/rejects">
    <%= data_points.map{|x|x["Rejects"]}.map(&:to_i).inject{|sum, x| sum+x} %>
  </a>
  <br/>

Complaints:
  <a href="/complaints">
    <%= data_points.map{|x|x["Complaints"]}.map(&:to_i).inject{|sum, x| sum+x} %>
  </a>
 <br/>

<!-- TODO See All Activity Over Time -->